
$desktop_width: 1200px;
$primary_color: #0d9ff4;
$secondary_color: #f49e35;
$light_grey: #F3F3F3;

.footer {
    min-height: 23rem;
    text-align: center;
    background-color: #304148;
    color: white;
    padding: 70px 0px;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: $primary_color;
    }

    .text {
        margin-bottom: 35px;
    }

    .footer-top {
        width: 280px;
        font-weight: 300;
        
        .icon-cont {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            
            img {
                height: 28px;
                cursor: pointer;
            }
            img:hover {
                // opacity: 0.9;
                color: blue;
            }
        }
    }

    .footer-bottom {
        width: 800px;

        .privacy-policy {
            margin-top: 35px;
            
            a {
                color: white;
                font-size: 18px;
                font-weight: 300;
            }
            a:hover {
                color: $primary_color;
            }
        }

        .copyright {
            font-size: 14px;
            font-weight: 300;
            opacity: 0.8;
        }
    }
    @media (max-width: 840px) {
        .footer-bottom {
            width: 90%;
        } 
    }

}