.room-container {
    padding: 30px 60px;
    min-height: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .room-left {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100%;
        padding: 30px;
        padding-right: 50px;

        .room-heading {
            font-size: 3rem;
            font-weight: bold;
            color: rgb(46, 46, 46);
            margin-bottom: 20px;
        }

        .room-desc {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin-bottom: 25px;
            color: rgb(21, 21, 21);
        }

        .room-price {
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 20px;

            span {
                font-weight: 700;
            }
        }

        .utilities-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 20px;

            .utility {
                font-size: 14px;
                padding: 6px 18px;
                margin-right: 5px;
                margin-bottom: 5px;
                background-color: rgb(241, 241, 241);
                border: 1px rgb(199, 199, 199) solid;
                border-radius: 5px;
                pointer-events: none;
            }
        }
    }

    .room-right {
        margin: 20px;
        margin-left: 50px;
        height: 400px;
        box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.2);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 450px;
        max-width: 600px;

        img {
            height: 100%;
        }
    }
}

.room-container-reverse {
    flex-direction: row-reverse;

    .room-left {
        align-items: center;

        .utilities-container {
            justify-content: center;
        }
    }

    * {
        text-align: center;
    }
}

@media (max-width: 1300px) {
    .room-container {
        .room-right {
            min-width: 400px;

            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 1080px) {
    .room-container {
        flex-direction: column;
        height: auto;
        width: 85%;
        padding: 30px 0px;

        .room-left {
            padding: 30px 0px;
            text-align: center;
            justify-content: center;
            align-items: center;

            .utilities-container {
                justify-content: center;
            }
        }

        .room-right {
            height: auto;
            width: 100%;
            margin: 30px 0px;
            min-width: 300px;

            img {
                height: auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .room-container {
        .room-left {
            .room-desc {
                line-height: 1.9rem;
            }
        }
    }
}

// ======= Carousel ==============================================
.carousel-container {
    $carouselHeight: 35vw;
    $carouselMinHeight: 400px;
    width: 100%;
    height: $carouselHeight;
    min-height: $carouselMinHeight;

    .carousel-render-space {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: $carouselHeight;
        min-height: $carouselMinHeight;
        width: 100%;
        position: relative;

        .text-space {
            position: absolute;
            z-index: 10;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 70%;

            .heading {
                font-size: 5vw;
                margin-bottom: 40px;
                font-weight: bold;
                width: 100%;
            }

            .subheading {
                font-size: 1.5rem;
                margin-bottom: 40px;
                font-weight: 300;
                line-height: 2.3rem;
            }
        }

        @media(max-width: 800px) {
            .text-space {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .heading {
                    font-size: 2.5rem;
                    margin-bottom: 40px;
                }

                .subheading {
                    font-size: 1rem;
                    line-height: 1.6rem;
                }
            }
        }

        .image-container {
            width: 100%;
            height: $carouselHeight;
            min-height: $carouselMinHeight;
            cursor: pointer;

            img {
                width: 100%;
                height: $carouselHeight;
                min-height: $carouselMinHeight;
                opacity: 1;
                pointer-events: all;
                border: rgb(5, 5, 5) 2px block;
            }

            .img:hover {
                opacity: 0.8;
            }
        }

        .bg-dim {
            position: absolute;
            background-color: rgba($color: #081119, $alpha: 0.7);
            top: 0;
            left: 0;
            width: 100%;
            height: $carouselHeight;
            min-height: $carouselMinHeight;
            z-index: 9;
            pointer-events: none;
        }

    }
}

// ==== Gallery ========================================
.gallery-container {
    width: 100%;
    height: 100%;

    .swiper-button-next, .swiper-button-prev {
        color: white !important;
        text-shadow: 1px 1px 3px black;
    }

    .gallery-render-space {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .gatsby-image-wrapper, .swiper {
            height: 100%;
        }

        img {
            height: 100%;
            opacity: 1;
            pointer-events: all;
            border: rgb(5, 5, 5) 2px block;
        }

        .img:hover {
            opacity: 0.8;
        }
    }
}

@media(max-width: 1080px) {
    .gallery-container {}
}